[submodule "available-bundles/nerdtree"]
	path = available-bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "available-bundles/xmledit"]
	path = available-bundles/xmledit
	url = git://github.com/moonboots/xmledit.git
[submodule "available-bundles/Command-T"]
	path = available-bundles/Command-T
	url = git://github.com/akitaonrails/Command-T.git
[submodule "available-bundles/fugitive"]
	path = available-bundles/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "available-bundles/surround"]
	path = available-bundles/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "available-bundles/javascript"]
	path = available-bundles/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "available-bundles/csapprox"]
	path = available-bundles/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "available-bundles/gundo"]
	path = available-bundles/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "available-bundles/tabular"]
	path = available-bundles/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "available-bundles/speeddating"]
	path = available-bundles/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "available-bundles/fakeclip"]
	path = available-bundles/fakeclip
	url = git://github.com/kana/vim-fakeclip.git
[submodule "available-bundles/vim-colors-solarized"]
	path = available-bundles/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "available-bundles/patchreview"]
	path = available-bundles/patchreview
	url = git://github.com/junkblocker/patchreview-vim.git
[submodule "private"]
	path = private
	url = ./private
[submodule "available-bundles/vim-commentary"]
	path = available-bundles/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "available-bundles/vim-repeat.git"]
	path = available-bundles/vim-repeat.git
	url = git://github.com/tpope/vim-repeat.git
[submodule "available-bundles/gitv"]
	path = available-bundles/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "available-bundles/rainbow"]
	path = available-bundles/rainbow
	url = git://github.com/HelgeG/rainbow.git
[submodule "available-bundles/vim-arpeggio"]
	path = available-bundles/vim-arpeggio
	url = git://github.com/kana/vim-arpeggio.git
[submodule "available-bundles/threesome"]
	path = available-bundles/threesome
	url = git://github.com/sjl/threesome.vim.git
[submodule "available-bundles/scroll-colors"]
	path = available-bundles/scroll-colors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "available-bundles/color-sampler-pack"]
	path = available-bundles/color-sampler-pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "available-bundles/lusty"]
	path = available-bundles/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "available-bundles/rainbow-parentheses"]
	path = available-bundles/rainbow-parentheses
	url = git://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
[submodule "available-bundles/tslime"]
	path = available-bundles/tslime
	url = git://github.com/moonboots/tslime.vim.git
[submodule "available-bundles/abolish"]
	path = available-bundles/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "available-bundles/vim-easymotion"]
	path = available-bundles/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "available-bundles/ctrlp"]
	path = available-bundles/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "available-bundles/snipmate"]
	path = available-bundles/snipmate
	url = git@github.com:moonboots/snipmate.vim.git
[submodule "available-bundles/yank-ring"]
	path = available-bundles/yank-ring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "available-bundles/closetag"]
	path = available-bundles/closetag
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "available-bundles/sparkup"]
	path = available-bundles/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "available-bundles/CamelCaseMotion"]
	path = available-bundles/CamelCaseMotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule "available-bundles/argtextobj"]
	path = available-bundles/argtextobj
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule "available-bundles/rainbow-parentheses2"]
	path = available-bundles/rainbow-parentheses2
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "available-bundles/syntastic"]
	path = available-bundles/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "available-bundles/vim-gnupg"]
	path = available-bundles/vim-gnupg
	url = https://git.gitorious.org/vim-gnupg/vim-gnupg.git
[submodule "available-bundles/ack"]
	path = available-bundles/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "available-bundles/mustache"]
	path = available-bundles/mustache
	url = https://github.com/juvenn/mustache.vim.git
[submodule "available-bundles/vim-unbundle"]
	path = available-bundles/vim-unbundle
	url = https://github.com/sunaku/vim-unbundle.git
[submodule "available-bundles/indent-guides"]
	path = available-bundles/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "available-bundles/matchtag"]
	path = available-bundles/matchtag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "available-bundles/ultisnips"]
	path = available-bundles/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "available-bundles/vimclojure"]
	path = available-bundles/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "available-bundles/vim-markdown"]
	path = available-bundles/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "available-bundles/grep"]
	path = available-bundles/grep
  url = git@bitbucket.org:moonboots/grep.vim
[submodule "available-bundles/matchit"]
	path = available-bundles/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "available-bundles/vim-eunuch"]
	path = available-bundles/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "available-bundles/slimv"]
	path = available-bundles/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule "available-bundles/autoclose2"]
	path = available-bundles/autoclose2
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "available-bundles/javascript-syntax"]
	path = available-bundles/javascript-syntax
	url = https://github.com/vim-scripts/JavaScript-syntax.git
[submodule "available-bundles/smartinput"]
	path = available-bundles/smartinput
	url = https://github.com/kana/vim-smartinput.git
[submodule "available-bundles/vim-pasta"]
	path = available-bundles/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
